<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!--Memcached Providers Config Start From Here-->
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
    <!--Memcached Providers Config Stop To Here-->
    <section name="BitAuto.Utils.CommonPlatformConfig" type="TxHumor.Code.CommonPlatformConfiurationSectionHandler, TxHumor.Code" />
  </configSections>
  <BitAuto.Utils.CommonPlatformConfig configSource="BitAuto.Utils.CommonPlatformConfig.config"/>
  <!--Memcached Providers Config Start From Here-->
  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.200.126" port="11211"/>
        <add address="192.168.200.126" port="11212"/>
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="1000" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
    </memcached>
  </enyim.com>
  <!--Memcached Providers Config Stop To Here-->
  <connectionStrings>
    <add name="Humor" connectionString="server=.;uid=sa;pwd=xubinghua2010.;database=Humor;pooling=true;min pool size=1;max pool size=50"/>
  </connectionStrings>
  <appSettings>
    <!--缓存实体配置文件路径-->
    <add key="CacheCaseFilePath" value="~/App_Data/CacheCase.xml" />
    <!--查询数据调用案例-->
    <add key="GetCaseFilePath" value="~/App_Data/GetCase.xml" />
    <!--删除缓存实体配置文件路径-->
    <add key="RemoveCacheCaseFilePath" value="~/App_Data/CacheRemoveCase.xml" />
    <!--是否启用缓存-->
    <add key="IsCache" value="1" />
    <!--脚本压缩版本控制-->
    <add key="JavaScriptVersion" value="2"/>
    <!--默认头像-->
    <add key="DefaultHead" value="http://h.img.pengfu.cn/nofound.png"/>
    <!--主机地址-->
    <add key="WebHost" value="http://test.pengfu.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
