<?xml version="1.0" encoding="utf-8"?>
<BitAuto.Utils.CommonPlatformConfig>
  <CommonConfig>
    <ValidateCodeConfig DefaultValidatecodeName = "default">
      <Validatecodes>
        <!--
                   Width验证图片的宽度，
                   Height验证图片的高度，
                   FontName输出的字符的字体,服务器存在的字体名可以在"控制面板—>字体"中查到
                   FontSize字体大小,
                   IsDrawNoise是否画出干扰线，
                   CharCount指定画出的字符个数如果是0，则画出4——8的随机个数
                   IsDistorted 是否变形，默认为true-->

        <!--<add ValidatecodeName="default" Width="160" Height="25" FontName="" FontSize="25" IsDrawNoise="false" CharCount="4" IsUseNumber="false" IsDistorted = "true"></add>-->
        <add ValidatecodeName="default" Width="75" Height="27" FontName="" FontSize="25" IsDrawNoise="true" CharCount="4" IsUseNumber="true" IsDistorted = "true"></add>
      </Validatecodes>
    </ValidateCodeConfig>
  </CommonConfig>
</BitAuto.Utils.CommonPlatformConfig>